@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
:root{
  --text-clr:rgb(102, 101, 101);
  --card-clr: rgba(255, 255, 255, 0.7);
  --card-clr-shadow: 0 0 10px 1px rgba(151, 149, 149, 0.5);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  position: relative;
  background-color: #014f9d;
  /* background-image: url(./night-sky.jpg);
  background-size: cover;
  background-repeat: no-repeat; */
  display: grid;
  place-items: center;
  height: 150vh;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  line-height: 1.6;
}
.container {
  position: absolute;
  top: 1.8rem;
  display: grid;
  place-items: center;
  width: 400px;
}
video{
  width:400px;
  100vh;
  position:fixed;
  top:-1rem;
}
header{
  position: absolute;
  top:-.5rem;
  width:400px;
  color: white;
  background-color:rgba(255, 255, 255, 0.3);
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  z-index:9;
}
header img{
  width:20px;
}

.item1 {
  grid-area: a;
}
.item2 {
  grid-area: b;
}
.item3 {
  grid-area: c;
}
.item4 {
  grid-area: d;
}
.item5 {
  grid-area: e;
}
.item6 {
  grid-area: f;
}
.search-container {
  display: grid;
  align-items: center;
}
#search {
  position: absolute;
  top: 0;
  justify-self: center;
  border: none;
  border-radius: 25px;
  height: 3rem;
  width: 300px;
  text-align: center;
}
#search:focus {
  outline: none;
}
input[type='search']::-webkit-search-cancel-button {
  position: absolute;
  right: 15px;
  font-size: 1.5rem;
}
#search-button {
  color: white;
  position: absolute;
  top: 0;
  right: 50px;
  background-color: transparent;
  border: none;
}
#search-icon {
  position: absolute;
  padding-top: 10px;
  right: 260px;
}
#reload-button {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: transparent;
  border: none;
  z-index: 5;
}
.card {
  position: absolute;
  top: 8rem;
  width: 350px;
  box-shadow: var(--card-clr-shadow);
  display: grid;
  gap: 5px;
  padding: 1rem;
  border-radius: 15px;
  background-color: var(--card-clr);
  grid-template-areas:
    'a a b'
    'a a b'
    'c c c'
    'd d d'
    'e f .';
}
#name {
  position: absolute;
  top: 1.2rem;
  font-size: 2.5rem;
  text-align: center;
  color: white;
}
#temp {
  font-size: 3rem;
  color: var(--text-clr);
}
#conditions {
  font-size: 1.5rem;
  color: var(--text-clr);
}
#icon {
  padding-left: 0rem;
}
#high-temp,
#low-temp,
#feels-like {
  color: var(--text-clr);
}
.card p {
  line-height: 0.1rem;
}

/* this is temporary - to be part of a grid */
.card2,
.card3,
.card4 {
  color: var(--text-clr);
  position: absolute;
  width: 350px;
  /* box-shadow: 0 0 10px 1px; */
  display: grid;
  gap: 5px;
  padding: 1rem;
  border-radius: 15px;
  background-color: var(--card-clr);
  box-shadow: var(--card-clr-shadow);
}
/* this one */
.card2 {
  top: 25rem;
  height: 545px;
  /* display:none */
}
.card2-hidden {
  display: none;
}
/* this one */
.card2-details {
  width: 350px;
  position: absolute;
  background-color: var(--card-clr);
  top: 25rem;
  height: 545px;
  border-radius: 15px;
  display: none;
}
.card2-details-hidden {
  display: none;
}
.todays-details {
  color: var(--text-clr);
  position: absolute;
  padding: 1rem;
  z-index: 20;
}
.daytime-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#night-icon,
#daytime-icon {
  height: 40px;
}

.icon-row {
  display: flex;
  font-size: 0.9rem;
}
.icon-row-right {
  position: absolute;
  left: 13.5rem;
}

.icon-row-img {
  width: 20px;
}
.icon-row-img-right {
  position: absolute;
  right: 140px;
  align-self: center;
}

.card3 {
  top: 62rem;
}
.card4 {
  top: 105rem;
}
.hourly-forecast {
  display: flex;
}
#card2-btn,
#todays-btn {
  position: absolute;
  color: white;
  background-color: #014f9d;
  width: fit-content;
  border: none;
  border-radius: 20px;
  padding: 0.45rem;
  bottom: 1rem;
  left: 1rem;
}
.one-hour,
.two-hours,
.three-hours {
  width: 100px;
  text-align: center;
}
.day {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
