@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  position: relative;
  background-color: #014f9d;
  /* background-image: url(./night-sky.jpg);
  background-size: cover;
  background-repeat: no-repeat; */
  display: grid;
  place-items: center;
  height: 150vh;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  line-height: 1.6;
}
.container{
  position:absolute;
  top:0;
  display: grid;
  place-items: center;
  width: 400px;
}

.item1 {
  grid-area: a;
}
.item2 {
  grid-area: b;
}
.item3 {
  grid-area: c;
}
.item4 {
  grid-area: d;
}
.item5 {
  grid-area: e;
}
.item6 {
  grid-area: f;
}
.search-container{
  display: grid;
  align-items: center;
}
#search{
  position: absolute;
  top:0;
  justify-self: center;
  border-radius: 25px;
  height:3rem;
  width: 300px;
  text-align: center;
}
#search:focus{
  outline: none;
}
input[type="search"]::-webkit-search-cancel-button{
  position: absolute;
  right:15px;
  font-size: 1.5rem;
}
#search-button{
  color: white;
  position: absolute;
  top:0;
  right: 50px;
  background-color: transparent;
  border: none;
}
#search-icon{
  position: absolute;
  padding-top:10px;
  right:260px;
}
#reload-button{
  position: absolute;
  bottom:0;
  right:0;
  background-color: transparent;
  border: none;
  z-index: 5;
}
.card {
  position: absolute;
  top: 8rem;
  width: 350px;
  box-shadow: 0 0 10px 1px;
  display: grid;
  gap: 5px;
  padding: 1rem;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.3);
  grid-template-areas:
    'a a b'
    'a a b'
    'c c c'
    'd d d'
    'e f .';
}
#name {
  position: absolute;
  top: 1.2rem;
  font-size: 2.5rem;
  text-align: center;
  color: white;
}
#temp {
  font-size: 3rem;
  color: white;
}
#conditions {
  font-size: 1.5rem;
  color: white;
}
#icon {
  padding-left: 0rem;
}
#high-temp,
#low-temp,
#feels-like {
  color: white;
}
.card p{
  line-height: .1rem;
}

/* this is temporary - to be part of a grid */
.card2,
.card3,
.card4 {
  color: white;
  position: absolute;
  width: 350px;
  /* box-shadow: 0 0 10px 1px; */
  display: grid;
  gap: 5px;
  padding: 1rem;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.3);
}
.card2 {
  top: 25rem;
}
.card3 {
  top: 59rem;
}
.card4 {
  top: 105rem;
}
.hourly-forecast {
  display: flex;
}
.hourly-details {
  color: white;
  background-color: #014f9d;
  width: fit-content;
  border-radius: 20px;
  padding: 0.45rem;
}
.one-hour,
.two-hours,
.three-hours {
  width: 100px;
  text-align: center;
}
.day{
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  
}

